/* CSS BY ASHLYN FIRLIK */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    Teal :#4CA7C0
    Purple: #484FB7
    Lavender: #6B8FE7
    Yellow: #E9BB57; 
    Pink:#D9526F;
    Dark-gray:#1E1E1E; 
    White:#ffffff; 
}

/* GLOBAL STYLES */
@media only screen and (max-width: 450px) {
    body {
        background-color: #6B8FE7;
        width: 100%;
    }
}

body > div:first-of-type {
    width: 450px;
    min-height: 100vh;
    background-color: #484FB7;
}

nav {
    background-color: #E9BB57;
    text-align: center;
    padding: 15px;
}

nav > h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    color: black;
    padding-bottom: 5px;
}

nav a {
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 17px 0;
    width: 400px;
    margin: 5px;
}

body {
    background-color: #6B8FE7;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3em;
    font-family: 'Kavoon', cursive;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

header > p {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 50px;
}

h2 {
    font-size: 2em;
    font-family: 'Kavoon', cursive;
    color: #ffffff;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 15px;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
    font-weight: bold;
    padding: 5px 0 5px 15px;
}

h4 {
    font-size: 1.15em;
    color: #484FB7;
}

section:nth-of-type(-n+4) > div {
    background-color: #ffffff;
    display: inline-block;
    padding: 10px;
    margin: 8px 20px;;
    border-radius: 15px;
}

section:nth-of-type(-n+4) > div p {
    padding: 20px 10px;
}

section:nth-of-type(-n+4) > div h4 {}

